 <form [formGroup]="form"> 
   <div class="input-group mb-3 input__width" >
     <input type="text" class="form-control" formControlName="username" placeholder="Username" aria-label="Username"
       aria-describedby="basic-addon1">
     <div *ngIf="form.controls.username.touched && !form.controls.username.valid" class="alert alert-danger notif"
       >Username is required</div>
   </div>
   <div class="input-group mb-3 input__width" >
     <div class="input-group-prepend">
     </div>
     <input type="password" class="form-control" formControlName="password" placeholder="Password" aria-label="Username"
       aria-describedby="basic-addon1">
     <div *ngIf="form.controls.password.touched && !form.controls.password.valid" class="alert alert-danger notif"
       >Password is required</div>
     <div *ngIf="form.controls.password.errors.invalidLogin" class="alert alert-danger notif">
       Username or password is invalid.
     </div>
   </div>
   <div class="input-group mb-3 input__width" >
    <input type="text" class="form-control" formControlName="email" placeholder="Email" aria-label="Email"
      aria-describedby="basic-addon1">
    <div *ngIf="form.controls.email.touched && !form.controls.email.valid" class="alert alert-danger notif"
      >Emai is required</div>
  </div>

   <button class="btn btn-primary" type="submit">Login</button>
 </form>
