    <nav class="nav-wrapp">
        <ul class="nav-wrapp__list">
            <li class="nav-wrapp__item"><a class="nav-wrapp__link" routerLink="">Home</a></li>
            <li class="nav-wrapp__item"><a class="nav-wrapp__link" routerLink="movies">Movie Search</a></li>
            <!-- <li class="nav-wrapp__item"><a class="nav-wrapp__link" routerLink="login">Sign Up</a></li> -->
       </ul>
       <button  (click)="onClick()" type="button" class="btn btn-primary nav-wrapp__btn">Sing Up</button>
    </nav>
    <!-- (click)="onClick()" -->