body{
    position: relative;
}

.wrapper{
    display: flex;
   // flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}


.load-icon{
    width:70px;
    height: 70px;
    border: 6px solid greenyellow;
    border-left: 6px solid rgb(98, 134, 45);
    border-right: 6px solid rgb(98, 134, 45);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1s infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(-180deg);
    }
}

.info{
    width: 350px;
    height: auto;
   // outline: 1px solid red;
    margin-left: 20px;

}

ul{
    padding: 0;
}
li{
    list-style: none;
    padding: 5px 0;
}

.plot{
    font-size: 1.3rem;
}
.raiting{
    display: flex;
    flex-direction: column;
}
 .raiting div{
     padding: 5px 0;
     font-weight: 700;
 } 

 .form-control{
    width: 30%;
    height: 38px;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 20px;
    outline: none;
    transition: all .5s ease;
 }

 .form-control::placeholder{
     padding: 10px;
 }

 .form-control:focus{
     border: 1px solid yellowgreen;
     border-radius: 5px;
     caret-color: yellowgreen;
 }
 