<h1>{{title}}</h1>

<div *ngIf='isLoading' class="load-icon"></div>
<input class="form-control" type="search" [formControl]="searchControl" placeholder="Serach movie...">
  <div *ngFor='let movie of movies' class="wrapper">

    <div class="poster"><img src="{{movie.Poster}}"></div>
    <div class="info">
        <h2>{{movie.Title}}</h2>
        <div class="raiting">
           <div>{{movie.Ratings[0].Source}}: {{movie.Ratings[0].Value}}</div> 
           <div>{{movie.Ratings[1].Source}}: {{movie.Ratings[1].Value}}</div>  
           <div>{{movie.Ratings[2].Source}}: {{movie.Ratings[2].Value}}</div>  
        </div>
        <ul>
            <li>Year: {{movie.Year}}</li>
            <li>Released: {{movie.Released}}</li>
            <li>Runtime: {{movie.Runtime}}</li>
            <li>Genre: {{movie.Genre}}</li>
            <li>Director: {{movie.Director}}</li>
            <li>Actors: {{movie.Actors}}</li>
        </ul>
        <div class='plot'>{{movie.Plot}}</div>
        
    </div>
  </div>
