
.wrapper {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}


.load-icon {
  width: 6rem;
  height: 6rem;
  border: 6px solid #9494944a;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 1s infinite;
 
}

@keyframes rotate {
  0% {
    border-right: 5px solid yellowgreen;
    transform: rotate(10deg);
  }

  100% {
    border-right: 5px solid yellowgreen;
    transform: rotate(360deg);
  }
}



.form-control {
  width: 50%;
  height: 4rem;
  border: 2px solid rgb(216, 236, 243);
  border-radius: 5px;
  padding: 20px;
  outline: none;
  transition: all 0.5s ease;
  margin-bottom: 5px;
  margin: 0 auto;
  display: block;
  margin-top: 5rem;
  background-color: #353535;
  color: #ffff;
  font-size: initial;
}

.form-control::placeholder {
  color:#ffff;
}

.form-control:focus {
  border: 2px solid yellowgreen;
  border-radius: 5px;
  caret-color: yellowgreen;
}

.poster {
  display: flex;
  padding: 10;
  padding: 1rem 1rem;
  flex-direction: column;
  width: 30rem;
  cursor: pointer;

  & img {
    height: 44rem;
    width: 100%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    & h2{
        margin-top: 10px;
        margin-bottom: 5px;
    }
  }
}
